.pagination {
	background-color: rgb(0, 0, 0);
	width: 100%;
	&__items {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 3;
	}
	&__link {
		font-size: 18px;
		font-weight: 700;
		line-height: 1.2;
		color: aliceblue;
		padding: 28px;
		display: inline-block;
		transition: 0.6s;
		&:hover {
			color: #ffa600;
		}
	}
	.active {
		background-color: #df3616;
	}
}
